.container {
    margin-left: 20px; 
    margin-right: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card {
    width: 100%;
    max-width: 215px;
    border: 1px solid #73beb0;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(207, 165, 196, 0.2);
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 5px 10px 0px;
    word-wrap: break-word;
}
  
.card h5 {
    margin: 0;
    font-size: 28px;
    color: #e285af;
}
  
.card p {
    margin: 5px 0;
    font-size: 12px;
}

.card form {
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.inc-dec-button {
    padding: 4px 16px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.inc-dec-button:hover {
    background-color: #3a5b7b;
}

.del-button {
    background-color: #ffffff;
    color:#e43a6a;
    padding: 4px 8px;
    margin: 8px;
}

.del-button:hover {
    color: #6b0d20;
}

.last-card {
    background-color: #eaf4f1;
}

.last-card .del-button{
    background-color: #eaf4f1;
}

.last-card .inc-dec-button{
    background-color: #73beb0;
}

.last-card h5 {
    color: #73beb0;
    
}

.last-card p {
    color: #14486f;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 30%;
    min-width: 250px;
    border-radius: 5px;
}

.table {
    width: 100%;
}

.modal-content td{
    font-size: 12px;
}

.modal-content textarea {
    height: 200px;
    width: 100%;
}

.modal-content input[type="text"],
.modal-contentinput[type="number"],
.modal-content textarea {
  resize: both; /* Allow both vertical and horizontal resizing */
  overflow: auto; /* Show scrollbars when resizing */
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
}

.close {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body {
    padding: 10px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.header{
    width:100%; 
    background-color: #e285af;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 12px solid #73beb0;
}

.total-entry{
    font-size: 12px;
    text-align: center;
    margin: 20px;
}

.information{
    margin: 0px;
    font-size: 10px
}

.table-container {
    margin: 10px auto 20px auto;
    text-align: center;
}

.messages{
    text-align: center;
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    background-color: #b5e1d9;
    font-size: 12px;
    display: block;
    list-style-type: none;
    border-radius: 4px;
}

.flower-input, .login, .register{
    margin: auto;
    padding: 10px;
    text-align: left;
    border-style: none;
}

.register {
    width: 45%;
}

.flower-input {
    width: 50%;
}

.login {
    width: 20%;;
}

.flower-input h1, .login h1, .register h1{
    font-size: 32px;
    text-align: center;
}

.flower-input label {
    font-size: 14px;
}

.login td, .login label, .register label{
    font-size: 12px;
}

.register label, .register th {
    vertical-align: top;
    text-align: left;
}

.login p, .register span {
    font-size: 12px;
}

.login p {
    text-align: center;
}

.login li , .register li{
    font-size: 12px;
    list-style-type: none;
}

input[type=submit]{
    background-color: #73beb0; 
    border: none;
    font-family: Verdana, sans-serif;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #3a5b7b;
}

.greetings {
    text-align: center;
}

.greetings h1{
    font-size: 24px;
    margin: 16px 10px 0px 10px;
}

.greetings span{
    font-size: 10px;
    font-family: Verdana, sans-serif;
    margin: 0px 10px 10px 10px;
}

.flower-table{
    text-align: center;
    width: 100%;
}

.flower-table table, .flower-table th, .flower-table td{
    margin: 10;
    padding: 10;
    border-collapse: collapse;
}

.flower-table th{
    color: white;
    border:1px solid #73beb0;
    background-color: #73beb0;
    border-style: outset;
    font-size: 16px;
}

.flower-table td{
    border:px solid #73beb0;
    border-style: inset;
    font-size: 12px;
}

h1{
    margin: 10px;
    font-family: Georgia, serif;
    font-size: 50px;
}

h2{
    margin: 10px;
    font-family: Georgia, serif;
    font-size: 14px;
    letter-spacing: 3px;
}

p, table, th, td, li {
    font-family: Verdana, sans-serif;
}

button {
    background-color: #e285af; /* Green */
    border: none;
    font-family: Verdana, sans-serif;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
}

a {
    display: inline-block
}