html, body {
    margin: 0;
    padding: 0;
  }  

.container {
    margin-left: 20px; 
    margin-right: 20px;
    text-align: center;
}

.header{
    width:100%; 
    background-color: #e285af;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 12px solid #73beb0;
}

.information{
    margin: 0px;
    font-size: 10px
}

h1{
    margin: 10px;
    font-family: Georgia, serif;
    font-size: 50px;
  }

h2{
    margin: 10px;
    font-family: Georgia, serif;
    font-size: 14px;
    letter-spacing: 3px;
}

p, table, th, td {
    font-family: Verdana, sans-serif;
}

.table-container {
    margin: 20px auto;
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    margin: 10;
    padding: 10;
    border-collapse: collapse;
  }

th {
    color: white;
    border:1px solid #5ebcab;
    background-color: #5ebcab;
    border-style: outset;
    font-size: 16px;
  }

td {
    border:px solid #5ebcab;
    border-style: inset;
    font-size: 12px;
}