{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    </head>
<style>
</style>
<body>
    <div class="header">
        <p class="information">{{ owner_name }} | {{ npm }} | {{ class }}</p>
        <h1>{{ application }}</h1>
        <h2>a collection of flowers from humanity</h2>
    </div>
    <!--Code adapted from w3schools HTML Table Borders -->
    <div class="container">
        <div class ="greetings">
            <h1>Welcome {{ name }} 𓇢𓆸</h1>
            <span>Sesi terakhir login: {{ last_login }}</span>
        </div>

        <p class="total-entry">{{ total_entry_message}}</p>

        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Add New Entry</h1>
                </div>
                <div class="modal-body">
                    <form id="form" method="POST">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td><label for="name">Name:</label></td>
                                <td><input type="text" id="name" name="name"></td>
                            </tr>
                            <tr>
                                <td><label for="amount">Amount:</label></td>
                                <td><input type="number" id="amount" name="amount"></td>
                            </tr>
                            <tr>
                                <td><label for="description">Description:</label></td>
                                <td><textarea id="description" name="description"></textarea></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="close-button" class="btn-secondary">Close</button>
                    <button id="button-add" class="btn-primary">Add Entry</button>
                </div>
            </div>
        </div>
        <button id="open-modal" class="btn-primary">Add Entry</button>
        

        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
        
        <div id="flower-card" class="card-container" data-dec-url="{% url 'main:dec_flower' 0 %}" data-inc-url="{% url 'main:inc_flower' 0 %}" data-del-url="{% url 'main:del_flower' 0 %}">
        </div>
    </div>
    </body>
</html>

<script>
    async function getFlowers() {
        return fetch("{% url 'main:get_flower_json' %}").then((res) => res.json())
    }

    async function refreshFlowers() {
    document.getElementById("flower-card").innerHTML = "";
    const flowers = await getFlowers();

    const decUrl = "{% url 'main:dec_flower' 0 %}";
    const incUrl = "{% url 'main:inc_flower' 0 %}";
    const delUrl = "{% url 'main:del_flower' 0 %}";
        
    flowers.forEach((flower, index, arr) => {
        const card = document.createElement("div");
        card.classList.add("card");


        const cardContent = `
            <h5>${flower.fields.name}</h5>
            <p style="font-size: 10px; margin: 0px 20px 10px 0px;">
                ${flower.fields.date_added}</p>
            <p>Amount: ${flower.fields.amount}</p>
            <p>${flower.fields.description}</p>

            <form action="${incUrl.replace('0', flower.pk)}" method="POST">
                {% csrf_token %}
                <button class="inc-dec-button" type="submit">+</button>
            </form>
            <form action="${decUrl.replace('0', flower.pk)}" method="POST">
                {% csrf_token %}
                <button class="inc-dec-button" type="submit">-</button>
            </form>
            <form action="${delUrl.replace('0', flower.pk)}" method="POST">
                {% csrf_token %}
                <button class="del-button" type="submit">
                    <span>Delete</span>
                </button>
            </form>
        `;

        card.innerHTML = cardContent;

        if (index === flowers.length - 1) {
            card.classList.add("last-card"); // Add a CSS class for the last card
        }

        document.getElementById("flower-card").appendChild(card);
    });
    }

    refreshFlowers()

    // taken from W3Schools because I am not using bootstrap ^^
    const modal = document.getElementById("modal");
    const btn = document.getElementById("open-modal");
    const span = document.getElementById("close-button");

    btn.addEventListener("click", function() {
        modal.style.display = "block";
    });

    span.addEventListener("click", function() {
        modal.style.display = "none";
    });

    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };


    function addFlower(event) {
        fetch("{% url 'main:add_flower_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        })
        .then(response => {
            if (response.ok) {
                modal.style.display = "none";
                document.getElementById("form").reset();
                refreshFlowers();
            }
        });

        return false
    }

    document.getElementById("button-add").onclick = addFlower;


</script>
{% endblock content %}