{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    </head>
<style>
</style>
<body>
    <div class="header">
        <p class="information">{{ owner_name }} | {{ npm }} | {{ class }}</p>
        <h1>{{ application }}</h1>
        <h2>a collection of flowers from humanity</h2>
    </div>
    <!--Code adapted from w3schools HTML Table Borders -->
    <div class="container">
        <div class ="greetings">
            <h1>Welcome {{ name }} 𓇢𓆸</h1>
            <span>Sesi terakhir login: {{ last_login }}</span>
        </div>

        <p class="total-entry">{{ total_entry_message}}</p>

        <!--Code adapted from StackOverflow: django display message after POST form submit-->
        {% if messages %}
        <span class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </span>
        {% endif %}

        <a href="{% url 'main:create_entry' %}">
            <button>
                Add New Entry
            </button>
        </a>

        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>

        <div class="flower-table"">
            <table class="table-container">
                <tr>
                    <th style="width:20%">Name</th>
                    <th style="width:15%">Amount</th>
                    <th style="width:45%">Description</th>
                    <th style="width:15%">Date Added</th>
                    <th style="width:5%;">Delete</th>
                </tr>
            
                {% for flower in flowers %}
                    <tr
                    {% if forloop.last %}
                    style='background-color:#d4eedd;'
                    {% endif %}
                    >
                        <td >{{ flower.name }}</td>
                        <td>
                            <form action="{% url 'main:dec_flower' flower.id %}" method="POST">
                                {% csrf_token %}
                                <button class="inc-dec-button" type="submit"
                                {% if forloop.last %}
                                style='background-color:#42a694';
                                {% endif %}>
                                    -
                                </button>
                            </form>
                            {{ flower.amount }}
                            <form action="{% url 'main:inc_flower' flower.id %}" method="POST">
                                {% csrf_token %}
                                <button class="inc-dec-button" type="submit"
                                {% if forloop.last %}
                                style='background-color:#42a694';
                                {% endif %}>
                                    +
                                </button>
                            </form>
                        </td>
                        <td>{{ flower.description }}</td>
                        <td>{{ flower.date_added }}</td>
                        <td>
                            <form action="{% url 'main:del_flower' flower.id %}" method="POST">
                                {% csrf_token %}
                                <button class="del-button" type="submit"
                                {% if forloop.last %}
                                style='background-color:#d4eedd;'
                                {% endif %}>
                                    <span>Delete</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </body>
</html>
{% endblock content %}